<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="bg-black flex justify-between p-5">
      <div>
        <a class="font-bold text-white" href="/home/1">E-COMMERCE</a>
      </div>
      <div class="flex text-white font-bold">
        <a class="px-2" href="/chat">chat</a>
        <a class="px-2" href="/api/productManager">product manager</a>
        <a class="px-2" href="/api/users">user manager</a>
        <a class="px-2" href="/cart">cart</a>
        <a class="px-2" href="/profile">profile</a>
      </div>
    </nav>
    <h2 class="text-center font-bold my-10">PRODUCTS IN CART</h2>
    <section class="container text-center m-auto">
      {{#each cart.products}}
        <div
          class="border-2 border-black flex flex-col items-center mx-auto mb-4 p-4 w-96 rounded"
        >
          <p class="font-bold uppercase">{{this.product.prod_name}}</p>
          <p>Quantity: {{this.quantity}}</p>
          <p>${{this.price}}</p>
          <a
            href="/cart/delete/{{this.product._id}}"
            class="bg-red-600 text-white font-bold py-2 px-5 rounded mt-2"
          >
            Remove from Cart
          </a>
        </div>
      {{/each}}
    </section>
    <section class="text-center">
      <div>
        <a
          href="/cart/empty"
          class="bg-red-600 text-white font-bold py-2 px-5 rounded mt-2"
        >
          Empty Cart
        </a>
      </div>

      <div class="my-5">
        <a
          class="bg-green-600 text-white font-bold py-2 px-5 rounded mt-2"
          href="/ticket"
        >Finalize purcharse</a>
      </div>
    </section>

  </body>
</html>