<div>
  <p>hello</p>
  <span>{{this.username}}</span>
  <span>{{this.surname}}</span>
</div>

<div>
  <a href="/cart">cart</a>
  <a href="/products">products</a>
  <a href="/addproduct">addproduct</a>
  <a href="/chat">chat</a>
</div>