<div class="bg-red-500 w-4/6 m-auto mt-44 flex justify-center">
  <form action="/login" method="post">
    <div>
      <div class="mt-5">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
        />
      </div>
      <div class="mt-5">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
        />
      </div>
      <div class="mt-5">
        <button type="submit">Login</button>
      </div>
    </div>
  </form>
</div>