<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACCESS DENIED</title>
  </head>
  <body>
    <nav class="bg-red-500 flex justify-between p-5">
      <div>
        <a href="/home">LOGO</a>
      </div>
      <div class="flex">
        <a href="/home">home</a>
        <a class="px-2" href="/chat">chat</a>
        <a class="px-2" href="/api/productManager">product manager</a>
        <a href="/api/usersManager">user manager</a>
        <a class="px-2" href="/cart">cart</a>
      </div>
    </nav>
  </body>
  <section class="text-center">
    <h2>ACCESS DENIED</h2>
    <a href="/home">BACK TO HOME</a>
  </section>
</html>