<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <div class="text-center pb-5">
      <p>{{this.username}}</p>
      <p>{{this.surname}}</p>
      <p>{{this.email}}</p>
      <p>{{this.role}}</p>
    </div>
    <div class="text-center">
      <a
        class="bg-red-700 p-2 rounded font-bold text-white"
        href="/logout"
      >LOGOUT</a>
      <a
        class="bg-red-700 p-2 rounded font-bold text-white"
        href="/recover"
      >RECOVER PASSWORD</a>
    </div>
  </body>
</html>