<div class="bg-red-500 w-4/6 m-auto mt-44 flex justify-center">
  <form action="/register" method="post" enctype="multipart/form-data">
    <div>
      <div class="mt-5">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
        />
      </div>
      <div class="mt-5">
        <input type="text" id="surname" name="surname" placeholder="surname" />
      </div>
      <div class="mt-5">
        <input type="email" id="email" name="email" placeholder="email" />
      </div>
      <div class="mt-5">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
        />
      </div>
      <div class="mt-5">
        <input
          type="file"
          id="profile_image"
          name="file"
          class="profile_image"
        />
        <label for="profile_image">Select Picture</label>
      </div>
      <div class="mt-5">
        <button type="submit">Register</button>
      </div>
    </div>
  </form>
</div>