<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="bg-black flex justify-between p-5">
      <div>
        <a class="font-bold text-white" href="/home/1">E-COMMERCE</a>
      </div>
      <div class="flex text-white font-bold">
        <a class="px-2" href="/chat">chat</a>
        <a class="px-2" href="/api/productManager">product manager</a>
        <a class="px-2" href="/api/users">user manager</a>
        <a class="px-2" href="/cart">cart</a>
        <a class="px-2" href="/profile">profile</a>
      </div>
    </nav>
    <section class="text-center">
      <div class="border-2 border-black rounded w-96 mx-auto my-10">
        <h1 class="font-bold pb-5">TICKET</h1>
        <p>TICKET CODE: {{ticket.code}}</p>
        <p>AMOUNT: {{ticket.amount}}</p>
        <p>PURCHARSER: {{ticket.purchaser}}</p>
      </div>
      <a
        class="bg-black text-white font-bold py-2 px-5 rounded my-2"
        href="/home/1"
      >BACK HOME</a>
    </section>

  </body>
</html>