<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="bg-red-500 flex justify-between p-5">
      <div>
        <a href="/home">LOGO</a>
      </div>
      <div class="flex">
        <a href="/home">home</a>
        <a class="px-2" href="/chat">chat</a>
        <a class="px-2" href="/api/productManager">product manager</a>
        <a href="/api/usersManager">user manager</a>
        <a class="px-2" href="/cart">cart</a>
      </div>
    </nav>
    <section class="text-center">
      <h1 class="font-bold pb-5">TICKET</h1>
      <div class="mb-5">
        <p>TICKET CODE: {{ticket.code}}</p>
        <p>AMOUNT: {{ticket.amount}}</p>
        <p>PURCHARSER: {{ticket.purchaser}}</p>
      </div>
      <a class="bg-orange-500 text-center" href="/home">BACK HOME</a>
    </section>

  </body>
</html>