<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dashboard</title>
  </head>
  <body>
    <nav class="bg-black flex justify-between p-5">
      <div>
        <a class="font-bold text-white" href="/home/1">E-COMMERCE</a>
      </div>
      <div class="flex text-white font-bold">
        <a class="px-2" href="/chat">chat</a>
        <a class="px-2" href="/api/productManager">product manager</a>
        <a class="px-2" href="/api/users">user manager</a>
        <a class="px-2" href="/cart">cart</a>
        <a class="px-2" href="/profile">profile</a>
      </div>
    </nav>

    <section>
      <h1 class="text-center font-bold my-10 text-3xl">USERS LIST</h1>
      <div class="flex justify-center">
        {{#each users}}
          <div class="mx-5 border-2 border-black rounded p-2">
            <p>{{username}}</p>
            <p>{{email}}</p>
            <form action="/api/users/updateRole" method="post">
              <label for="role">Role:</label>
              <select name="role" id="role">
                <option value="admin">Admin</option>
                <option value="premium">Premium</option>
                <option value="default">Default</option>
              </select>
              <input type="hidden" name="userId" value="{{_id}}" />
              <div>
                <button
                  type="submit"
                  class="bg-green-600 text-white font-bold py-2 px-5 rounded mt-2"
                >Update</button>
              </div>
            </form>
          </div>
        {{/each}}
      </div>
    </section>
  </body>
</html>